.roulette-chips-list li {
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.roulette-chips-list li p {
    position: absolute;
    color: white;
}

.roulette-chips-list li:hover {
    transform: scale(1.1);
}

.roulette-chips-list li.active {
    transform: scale(1.3);
}
.roulette-chips-list li.disabled {
    opacity: 0.6;
}

.roulette-chips-list li:last-child {
    margin-right: 0;
}