* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  
  background-color: #075600;
  background-image: url("../public/images/static.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

.examples-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  padding: 0 15%;
  font-family: 'Times New Roman', Times, serif;
}

.examples-container hr {
  margin: 32px 0;
}

.examples-container h2{
  margin-bottom: 16px;
}

.heading {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: 'Dancing Script', cursive;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  
}
.buttons {
  margin: 16px 0;
}

button {
  padding: 15px 20px;
  background-color: #e74c3c;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.5s ease;
  margin-bottom: 16px;
}

button:hover {
  transform: scale(1.08);
}

button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

pre {
  white-space: pre-wrap;
}